  <div class="browser-item">
    <h2 class="text-uppercase">Projets associés</h2>
    <div id="projects">
   
   {{#if object.pair:organize}}
  <h3 class="text-uppercase">organise</h3>
    {{#ldpeach object.pair:organize "ul"}}{{> agentItem }}{{/ldpeach}}
  {{/if}}
   
   {{#if object.foaf:currentProject}}
   <h3 class="text-uppercase">contribue à</h3>
      {{#ldpeach object.foaf:currentProject "ul"}}{{> agentItem }}{{/ldpeach}}
   {{/if}}
   
  {{#if object.pair:supports}}
  <h3 class="text-uppercase">soutient</h3>
    {{#ldpeach object.pair:supports "ul"}}{{> agentItem }}{{/ldpeach}}
  {{/if}}
   
   </div>
  </div>
