<div class="group-detail-active">
  <h1 class="text-center text-uppercase">{{object.foaf:name}}</h1>
  <div class="detail-content">
    <h2>Description</h2>
    <p>{{object.pair:shortDescription}}</p>

</div>
