  <div class="browser-item">
    <h2 class="text-uppercase">Acteurs associés</h2>
    <div id="actor">
    
    {{#if object.pair:hasPartner}}
    <h3 class="text-uppercase">a pour partenaire</h3>
    {{#ldpeach object.pair:hasPartner "ul"}}{{> groupItem }}{{/ldpeach}}
    {{/if}}

    {{#if object.pair:manage2}}
    <h3 class="text-uppercase">responsable de</h3>
    {{#ldpeach object.pair:manage2 "ul"}}{{> groupItem }}{{/ldpeach}}
    {{/if}}

    {{#if object.pair:contributesTo}}
    <h3 class="text-uppercase">contribue à</h3>
    {{#ldpeach object.pair:contributesTo "ul"}}{{> groupItem }}{{/ldpeach}}
    {{/if}}
    
    {{#if object.pair:supports}}
    <h3 class="text-uppercase">soutient</h3>
    {{#ldpeach object.pair:supports "ul"}}{{> groupItem }}{{/ldpeach}}
    {{/if}}
    </div>
  </div>
