<div class="browser-item">
  <h2 class="text-uppercase">Projets associés</h2>
  <div id="projects">

  {{#if object.foaf:currentProject}}
  <h3 class="text-uppercase">contribue à</h3>
      {{#ldpeach object.foaf:currentProject "ul"}}{{> projectItem }}{{/ldpeach}}
    {{/if}}

  {{#if object.pair:supports}}
  <h3 class="text-uppercase">soutient</h3>
    {{#ldpeach object.pair:supports "ul"}}{{> projectItem }}{{/ldpeach}}
  {{/if}}

  {{#if object.pair:hasUseCase}}
  <h3 class="text-uppercase">a pour cas d'usage</h3>
      {{#ldpeach object.pair:hasUseCase "ul"}}{{> projectItem }}{{/ldpeach}}
  {{/if}}
  </div>
</div>
