<div class="browser-item">
  <h2 class="text-uppercase">Projets associés</h2>
  <div id="projects">
    {{#if object.foaf:currentProject}}
      {{#ldpeach object.foaf:currentProject "ul"}}{{> projectItem }}{{/ldpeach}}
    {{/if}}
    {{#if object.pair:supports}}
      {{#ldpeach object.pair:supports "ul"}}{{> projectItem }}{{/ldpeach}}
    {{/if}}
    {{#if object.pair:hasUseCase}}
      {{#ldpeach object.pair:hasUseCase "ul"}}{{> projectItem }}{{/ldpeach}}
    {{/if}}
  </div>
</div>
