html, body, #main-container, #main-row {
  height: 100%;
  position: relative;
  font-family: sans-serif;
}

#content-wrapper {
  background-color: lightgrey;
  height: 100%;
}

#detail {
  height: 100%;
  padding: 0;
}

#detail h1 {
  margin-top: 0;
  background-color: black;
  color: white;
  line-height: 80px;
  text-align: center;
  font-style: uppercase;
}

#detail .detail-content {
  border: solid 1px;
  padding-left: 15px;
  background-color: white;
}

#detail .detail-content .personal-information {
  padding-left: 15px;
}

.browser-item {
  height: 80%;
  background-color: white;
  border: solid 1px black;
  margin-bottom: 15px;
}

#browser h2 {
  margin-top: 0;
  background-color: black;
  color: white;
  line-height: 40px;
  font-size: 26px;
  padding-left: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#browser ul li a {
  padding-left: 10px;
}

#browser ul {
  list-style: outside none none;
  padding-left: 0;
}
