/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    height:100%
}

#wrapper.toggled {
    padding-left: 120px;
    overflow: scroll;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 120px;
    width: 0;
    height: 100%;
    margin-left: -120px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
}

#content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 0px;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    font-size: 2.5em;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.no-margin{
    margin:0;
}

.fa-stack {
    width: 5em;
    height: 5em;
    line-height: 5em;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 120px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 120px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 120px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 120px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 120px;
    }


    #content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 120px;
    }
    #wrapper.toggled-2 #content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -100px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}
