<div class="browser-item">
    <h2 class="text-uppercase">Acteurs associés</h2>
    <div id="actor">
    
    {{#if object.dcterms:subject}}
    <h3 class="text-uppercase">a pour centre d'intérêt</h3>
    {{#ldpeach object.pair:hasPartner "ul"}}{{> personItem }}{{/ldpeach}}
    {{/if}}
    </div>
</div>
